* {
  font-size: 10px;
}

img {
  max-height: 50px;
  max-width: 50px;
}

/* button {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100px;
} */

.recipe-card {
  align-items: center;
  border: 1px solid black;
  display: flex;
  gap: 5px;
  max-height: 200px;
  max-width: 250px;
}

.shareBtn img {
  max-height: 15px;
  max-width: 50px;
}

.shareBtn {
  max-height: 30px;
  max-width: 50px;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 70px;
}
