/* button {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 100px;
} */

h2 {
  background-color: #408e91;
  font-size: 2rem;
}

.profile-logout {
  background-color: red;
}

.recipe-card {
  align-items: center;
  display: flex;
  gap: 5px;
  max-height: 200px;
  max-width: 250px;
}

.shareBtn {
  font-size: 10px;
}

.details-containers {
  margin-bottom: 50px;
  margin-top: 50px;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 70px;
}
