.sectioncocktail-section {
  justify-content: center;
  text-align: center;
}

.drink-image {
  border-style: none;
  height: 700px;
  vertical-align: middle;
  width: 700px;
}

.header-container-drinks {
  background-image: url('../images/topodrink.png');
}

li {
  font-size: 30px;
}

