/* button {
  background-color: red;
  border: 1px solid var(--blue);
  border-radius: 20px;
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  padding: 0.9rem 4rem;
  text-transform: uppercase;

} */

.recipe-card-image {
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0 50px 100px -20px;
  width: 20%;

}

.start-recipe-btn {
  align-items: center;
  background: #94ff62;
  bottom: 0;
  display: flex;
  font-size: 18px;
  height: 50px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 100%;
}

footer {
  background-color: #bd3e31;
}
